name: example
on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
jobs:
  example:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: WillAbides/setup-go-faster@v1
        id: setup-go
        with:
          go-version: 1.21rc2
#      - uses: actions/cache@v3
#        with:
#          path: |
#            ${{ steps.setup-go.outputs.GOCACHE }}
#            ${{ steps.setup-go.outputs.GOMODCACHE }}
#          key: ${{ runner.os }}-example-${{ hashFiles('go.*', '.github/workflows/ci.yaml', 'script/*', '.bindown.yaml', '.goreleaser.yaml') }}
#          restore-keys: ${{ runner.os }}-example-
      - run: go run ./internal/example
